@model ProjeA.Models.Login
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>    @User.Identity.Name</h2>
<h1>aaaaaaaaaaaaaaa</h1>
<h1>aaaaaaaaaaaaaaa</h1>


@*<section class="section section-sm section-first bg-default text-center" id="services">
        <div class="container">
            <div class="row row-30 justify-content-center">
                <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp">
                    <img src="~/Content/image/gorsel3.png" alt="" width="415" height="592" />
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="row row-30">
                        <h2 class="wow fadeInLeft">SİZE ÖZEL QR KODLA KOLAY ERİŞİM</h2>
                        <p>
                            MyVisit ile ; <br>
                            Hızlı bir şekilde bilgilerinizi aktarabilirsiniz,<br>
                            Sadece istediğiniz bilgileri güvenli bir şekilde paylaşabilirsiniz ,<br>
                            Tasarımlarıyla her alana uyum sağlayabilirsiniz,<br>
                            Boşuna kağıt israfı yapmadan tek kartla işinizi en kolay şekilde halledebilirsiniz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@


