<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:400,500,600%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/fonts.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
</head>
<body>

    <div class="page">
        <div id="home">
            <!-- Page Header-->
            <header class="section page-header">
                <!-- RD Navbar-->
                <div class="rd-navbar-wrap">
                    <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                        <div class="rd-navbar-main-outer">
                            <div class="rd-navbar-main">
                                <!-- RD Navbar Panel-->
                                <div class="rd-navbar-panel">
                                    <!-- RD Navbar Toggle-->
                                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                    <!-- RD Navbar Brand-->
                                    <div class="rd-navbar-brand "><a class="brand rd-nav-item rd-nav-link " href="index.html"><img alt="" width="223" height="50" src="~/LogoDepo/logo2.png"/></a></div>
                                </div>
                                <div class="rd-navbar-main-element">
                                    <div class="rd-navbar-nav-wrap">
                                        <!-- RD Navbar Share-->

                                        <ul class="rd-navbar-nav">
                                            <li class="rd-nav-item active"><a class="rd-nav-link" href="/Home/Index">AnaSayfa</a></li>
                                            <li class="rd-nav-item"><a class="rd-nav-link" href="/Home/Index#services">Özellikler</a></li>
                                            
                                            <li class="rd-nav-item"><a class="rd-nav-link" href="/Home/Contact">İletişim</a></li>
                                            <li class="rd-nav-item "><button class="button button-sm  button-pipaluk" data-toggle="modal" data-target="#Modal2">Uyumlu Cihazlar</button></li>
                                            <li class="rd-nav-item "><button class="button button-sm button-primary button-pipaluk" data-toggle="modal" data-target="#Modal1">Giriş Yap</button></li>
                                            @*<li class="rd-nav-item "><button class="button button-sm button-primary button-pipaluk" data-toggle="modal" data-target="#Modal2">Kayıt Ol</button></li>*@
                                              
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        



        @RenderBody()






        <!-- Page Footer-->
        <footer class="section section-fluid footer-minimal context-dark">
            <div class="bg-gray-15">
                <div class="container-fluid">
                    <div class="footer-minimal-inset oh">
                        <ul class="footer-list-category-2">
                            <li><a href="#">Çerez Politikası</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">Kullanım Talimatları</a></li>

                        </ul>
                    </div>
                    <div class="footer-minimal-bottom-panel text-sm-left">
                        <div class="row row-10 align-items-md-center">
                            <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
                                <div>
                                    <ul class="list-inline list-inline-sm footer-social-list-2">
                                        <li><a class="icon fa fa-facebook" href="#"></a></li>
                                        <li><a class="icon fa fa-twitter" href="#"></a></li>
                                        <li><a class="icon fa fa-google-plus" href="#"></a></li>
                                        <li><a class="icon fa fa-instagram" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </footer>


    </div>
        <!-- Global Mailform Output-->
        <div class="snackbars" id="form-output-global"></div>
        <!-- Javascript-->
        <script src="~/Content/js/core.min.js"></script>
        <script src="~/Content/js/script.js"></script>
        <!-- coded by Himic-->
</body>
</html>